*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contact{
    position:relative;  
    background:  url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1800&q=80")
    center/cover no-repeat;
    display:flex;
 background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)), url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1800&q=80");

    align-items:center;
    justify-content:center;
    margin-top: 60px;
}

.contact-container{
    position:relative;
    z-index:2;
    width:90%;
    max-width:1400px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

.contact-left{
    color:white;
}

.subtitle{
    color:#ffcc70;
    letter-spacing:5px;
    font-weight:600;
    margin-bottom:15px;
}

.contact-left h1{
    font-size:4rem;
    margin-bottom:25px;
    line-height:1.1;
}

.contact-left p{
    font-size:1.1rem;
    line-height:1.9;
    color:#ddd;
}

.info{
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:20px;
    font-size:1.1rem;
}

.contact-right{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);

    padding:45px;
    border-radius:25px;

    border:1px solid rgba(255,255,255,.2);
}

form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

input,
textarea{
    padding:18px;
    border:none;
    border-radius:12px;
    font-size:1rem;
    outline:none;
    background:rgba(255,255,255,.92);
}

button{
    padding:18px;
    border:none;
    border-radius:12px;

    background:#ff9d00;
    color:white;
    font-size:1rem;
    cursor:pointer;

    transition:.3s;
}

button:hover{
    background:#ff7300;
    transform:translateY(-3px);
}

@media (max-width:900px){

.contact{
    padding:70px 20px;
    min-height:auto;
}

.contact-container{
    grid-template-columns:1fr;
    gap:40px;
}

.contact-right{
    padding:30px 20px;
}

.contact-left h1{
    font-size:2.5rem;
}

}